# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

~*
*.sublime-project
*.sublime-workspace
*.exe
*.def
*.dsp
*.lib
*.doc
*.dll
*.lnt
*.pm
*.xls
*.dbg
*.DBG
*.o
*.plg
*.keep
*.sql
*.sqlite
*.log
*.cmm
*.men
*.ini
*.fig
*.cmp
*.tmp
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.db
*.html
*.project
/.idea/
/node_modules/
/log/
/built/
/static/
/temp/
/dist/