.wraper {
    width: 1200px;
    margin: 0 auto;
}
/*头部 header*/
.header {
    width: 100%;
    min-width: 1200px;
    background-color: #000;
}

.header .wraper {
    position: relative;
}
.header .header-img{
    display: block;
    padding-bottom: 60px;
}
.header .logo {
    position: absolute;
    top: 77px;
    left: 560px;
}

.header-title {
    color: #fff;
    position: absolute;
    left: 50px;
    bottom: 60px;
    cursor: default;
    height: 35px;
    background: url(../images/hack.gif) center center no-repeat;
}
.header-title .title-icon{
    display: inline-block;
    width:0;
    height:0;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #fff;
}

.header ul {
    display: none;
    width: 1200px;
    position: absolute;
    background-color: #fff;
    top: 32px;
    left: -50px;
    border-bottom: 2px solid #eee;
    padding: 0 60px;
}
.header ul a:hover{
    text-decoration: underline;
}

.header-title:hover ul{
    display: block;
}
.header-title:hover .title-icon{
    display: inline-block;
    width:0; 
    height:0; 
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #fff;
    border-bottom:none;
}

.header ul li {
    float: left;
    width: 180px;
}

.header ul li a {
    height: 120px;
    padding-top: 50px;
    display: block;
    text-align: center;
    color:#bfbfbf;
    font-size: 14px;
}


/*内容content*/
.fonts60{
    font-size: 60px
}
.fonts36{
    font-size: 36px
}
.content .wraper{
    padding-bottom: 60px;
    border-bottom: 1px solid #e8e8e8;
}
.content .title{
    margin-top: 100px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
}
.main-content{
    margin:0 auto;
    padding:30px 0 10px 0;
}
.main-content .selected{
    position: relative;
}
.main-content .selected:hover #ul4selected{
    display: block;
}
.main-content .selected .selected-p{
    position: absolute;
    right: 20px;
}
.main-content .selected .selected-p span{
    cursor: pointer;
    text-decoration: underline;
}
.main-content .selected .selected-p .icon{
    display: inline-block;
    width:0; 
    height:0; 
    margin-left: 10px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #000;
}

.main-content .selected:hover .selected-p .icon{
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:0;
    border-top:5px solid #000;
}
.main-content .selected ul{
    display: none;
    position: absolute;
    right: 43px;
    top:14px;
}
.main-content .selected ul li{
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
}
/*文章*/
.main-content .newbox{
    padding:40px;
    padding-bottom: 70px;
    margin:30px 0 50px 0;
}
.main-content .newbox:not(:last-child){
    border-bottom: 1px solid #eee
}
.main-content .newbox .leftbar{
    width:300px;
    padding-left: 150px;
}
.main-content .newbox .rightbar{
    width:610px;
    margin-right:60px;
}
.main-content .newbox .rightbar .main-text{
    margin:50px 0 70px 0;
    line-height: 1.8em;
}
.main-content .newbox .rightbar .main-img{
    margin-bottom: 20px;
}
.content .more{
    cursor: pointer;
    display: block;
    font-size: 18px;
    width:72px;
    margin:0 auto;
    text-decoration: underline;
}
/*底部footer*/
.column6{
    margin:80px auto 100px;
    overflow:hidden;
    text-align: center;
}
.column6 ul {
    display: inline-block;
}
.column6 ul li{
    float:left;
    margin-right:60px;
}
.column6 ul li:last-child{
    margin-right:0px;
}
.column6 ul li a{
    font-size:20px;
    color:#101010;
}
.column7{
    width:300px;
    height:186px;
    margin:0 auto 30px;
    border:1px solid #101010;
    border-left-width:0;
    border-right-width:0;
}
.column7 .c7_word{
text-align:center;
    margin:60px auto 30px;
    font-size:14px;
    color:#101010;
}
.column7 .pic_list a{
    margin-right: 40px;
    float: left;
    width: 30px;
    height: 30px;
}
.column7 .pic_list a:last-child{
    margin-right:0px;
}
.column7 .pic_list{
    padding:0 30px;
}
.column8{
    text-align: center;
    font-size:14px;
    color:#C6C6C6;
    margin-bottom:150px;
}

